@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

body {
    height: 100vh;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-snap-type: y mandatory;
    background-color: #2f2d2d;
    color: #d0ed57;
}

.navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vh 2vw;
    background-color: #2f2d2d;
    text-decoration: none;
    height: 5vh;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: 4vh;
    border-radius: .3rem;
    /*height: auto;*/
    background-color: #d0ed57;
}

.navigation a {
    color: #2f2d2d;
}

.navigation i {
    font-size: 1.3rem;
    cursor: pointer;
    padding: 0 1vw;
    transition: all .2s ease-in-out;
}


.container {
    height: 95vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
}

#first, #second {
    height: 90vh;
    width: 80%;
}

#first {
    font-family: 'Montserrat', "Segoe UI", Tahoma, Geneva, Arial, sans-serif;
}

#first ul li {
    color: antiquewhite;
}

#first .instruction {
    width: 90%;
}

#first .card {
    padding: 0 0 0 2vw;
}

#first .card h2, #second .card h2 {
    text-align: center;
    padding: 2vh 0;
    font-family: 'Montserrat', "Segoe UI", Tahoma, Geneva, Arial, sans-serif;
}

#first .card ul {
    padding: 1.5vh;
    font-size: .95rem;
}

#first .box {
    text-align: center;
}

#first label {
    font-size: 1.4rem;
    padding: 1vh 2vw;
    background: #f85656;
    color: #fdfdfd;
    font-weight: 600;
    border-radius: .5rem;
    cursor: pointer;
}

#first input {
    width: 90%;
    padding: 1vh 1vw;
    margin: 1vh 0;
}

#first button {
    text-decoration: none;
    cursor: pointer;
    background-color: #d0ed57;
    padding: 1vh 1.5vw;
    font-size: 1.1rem;
    font-family: 'Lato', "Segoe UI", Tahoma, Geneva, Arial, sans-serif;
    border-radius: .5rem;
    border: solid 1px #d0ed57;
    transition: all .3s ease-in-out;
}

#first .box {
    border: solid .1rem #d0ed57;
    padding: 10vh 1vw 5vh;
    border-radius: .5rem;
}

#first button:hover {
    background-color: #3b3b3b;
    color: #d0ed57;
}

#first .box p {
    font-family: 'Montserrat', "Segoe UI", Tahoma, Geneva, Arial, sans-serif;
    font-size: 1.1rem;
    padding-top: 1vh;
    font-weight: 500;
    color: #d0ed57;
}

#second .result {
    display: none;
}

#second h4 {
    font-family: 'Montserrat', "Segoe UI", Tahoma, Geneva, Arial, sans-serif;
}

.matriks {
    height: 25vh;
    padding: 2vh 1vw;
    border: solid .07rem #d0ed57;
    display: grid;
    gap: .1rem;
    text-align: center;
    justify-items: center;
    align-items: center;
}

.content p {
    display: none;
    font-family: 'Montserrat', "Segoe UI", Tahoma, Geneva, Arial, sans-serif;
}

.content {
    display: grid;
    grid-template-rows: repeat(8, auto);
}

.cell {
    font-family: 'Calibri', "Segoe UI", Tahoma, Geneva, Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 1.5rem;
    text-align: center;
}

.sekuens {
    height: auto;
    border: solid .07rem #d0ed57;
    font-family: 'Calibri', "Segoe UI", Tahoma, Geneva, Arial, sans-serif;
    padding: 1vh 0 1vh 1vw;
}

.content #solve, .result #download {
    text-decoration: none;
    cursor: pointer;
    background-color: #d0ed57;
    padding: .8vh 1.2vw;
    margin: 2vh 0;
    font-size: 1.1rem;
    font-weight: 600;
    font-family: 'Montserrat', "Segoe UI", Tahoma, Geneva, Arial, sans-serif;
    border-radius: .5rem;
    border: solid 1px #d0ed57;
    transition: all .2s ease-in-out;
}

.content #solve:hover, .result #download:hover{
    background-color: #3b3b3b;
    color: #d0ed57;
}

.result #sequence {
    border: solid .07rem #d0ed57;
    padding: 1vh 0 1vh 1vw;
    font-family: 'Calibri', "Segoe UI", Tahoma, Geneva, Arial, sans-serif;
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    #first, #second {
        width: 100%;
        height: auto;
    }

    #first li {
        font-size: .8rem;
    }

    #first label {
        font-size: 1.2rem;
        padding: 1vh 2vw;
    }

    #second button {
        padding: 1vh 1.5vw;
        font-size: .6rem;
    }
}